%p= @user[:name]
%p= @user[:email]

- if can_comment_on_user? @user
  = form_for([@user, Comment.new]) do |f|
    %p= f.label :content, 'Comment:'
    %p= f.text_field :content
    = f.submit

= link_to 'Go back', users_path