%div{ :id => "items-list" }
  = render 'items_list', :items => @items

= form_for Item.new do |f|
  %span= f.label :title, 'Title: '
  %span= f.text_field :title
  %br/
  %span= f.label :description, 'Description: '
  %span= f.text_field :description
  %br/
  %span= f.label :starting_price, 'Starting price: '
  %span= f.text_field :starting_price
  %br/
  %span= f.label :end_date, 'End date: '
  %span= f.text_field :end_date
  %br/
  = f.submit 'Create'