%div
  %div{ :id => @item[:id] }
    %p= @item[:title]
    %p= @item[:description]
    %p= @item[:starting_price]
    %p= @item[:start_date]

-if can_view_auctions?
  %div{ :id => 'bids-list' }
    = render 'bids_list', :active_auctions => @active_auctions, :current_highest_prices => @current_highest_prices

= link_to 'Go back', :controller => "items", :action => "index"